<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">ユーザー名を編集する</h1>
    <%=form_tag("/firstnames/#{@firstname.id}/update")do%>
    <div class="form">
      <div class="form-body">
        <% @firstname.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <input name="name" value= "<%=@firstname.name %>" >
        <input type="submit" value="保存">
      </div>
    </div>
  <%end%>
  </div>
</div>

