<div class="main top-main">
  <div class="top-message">
    <h2>家事×バトル</h2>

    <h3>　</h3>


    <ul>
      <li><%=link_to("家事×バトルとは","https://www.heburushu.com/entry/kazi-battle")%></li>
      <li><%=link_to("新規登録","/signup")%></li>
      <li><%= link_to("ログイン", "/login")%></li>
    </ul>


  </div>
</div>