<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">家事作成</h1>
    <%= form_tag("/posts/create") do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>

          <p>家事</p>
          <input name="content"><%= @post.content%>
          <p>ポイント</p>
          <input name="point" value=1>
          <input type="submit" value="作成">
        </div>
      </div>
    <% end %>
  </div>
</div>